/* html,
body,
body > div:first-child,
div#__next,
div#__next > div,
div#__next > div > div {
  @apply h-full;
} */

body {
  @apply font-sans text-base bg-white text-gray-900;
}

b {
  @apply font-bold;
}

h1 {
  @apply text-4xl font-bold mb-3;
}

h2 {
  @apply text-3xl font-bold mt-4 mb-3;
}

h3 {
  @apply text-xl font-bold mt-4 mb-3;
}

#content a {
  @apply relative text-primary-lighter;
}
#content a::after {
  content: "";
  @apply h-px w-0 bg-primary absolute bottom-0 left-0;
}
#content a:hover::after {
  @apply transition-all w-full duration-500;
}

code {
  @apply bg-gray-100 px-4 py-2 rounded-md;
}

.language {
  @apply rounded-md w-full m-auto mb-8;
}

.language code {
  @apply bg-transparent px-0 py-0;
}

.button {
  @apply relative;
}

.button::after {
  content: "";
  border-radius: inherit;
  background: #70eaff;
  bottom: -2px;
  right: -2px;
  z-index: -1;
  @apply w-full h-full absolute;
}

.button:hover::after {
  @apply opacity-0 transition-all delay-100;
}

.anchor-highlight {
  @apply relative font-bold tracking-wide text-gray-700;
}

.anchor-highlight::after {
  content: "";
  border-radius: inherit;
  background: #70eaff;
  z-index: -1;
  height: 5px;
  left: 50%;
  bottom: 2px;
  @apply w-0 absolute transform -translate-x-6/12;
}

.anchor-highlight:hover::after {
  @apply transition-all duration-500 w-full;
}

:required:valid + .note {
  @apply hidden;
}
:required:invalid + .note {
  @apply block;
}

::selection {
  @apply bg-highlight text-black;
}

::-moz-selection {
  @apply bg-highlight text-black;
}

.highlight-animation {
  @apply bg-white relative;
}

a svg {
  fill: currentColor;
}

.highlight-animation::before,
.highlight-animation::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2296aa;
  border-radius: inherit;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.highlight-animation::after {
  background: #70eaff;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -4px;
    left: 0;
  }
  12% {
    top: -1px;
    left: 1px;
  }
  25% {
    top: 0;
    left: 4px;
  }
  37% {
    top: 1px;
    left: 1px;
  }
  50% {
    top: 4px;
    left: 0;
  }
  62% {
    top: 1px;
    left: -1px;
  }
  75% {
    top: 0;
    left: -4px;
  }
  87% {
    top: -1px;
    left: -1px;
  }
  100% {
    top: -4px;
    left: 0;
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;
  }
}
